<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ServletConfigParametersDemo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>dburl</param-name>
		<param-value>jdbc:mysql://localhost:3306/cis_store</param-value>
	</context-param>

	<context-param>
		<param-name>dbuser</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>dbpass</param-name>
		<param-value>root123</param-value>
	</context-param>

	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>com.sl.DBServlet</servlet-class>

		<init-param>
			<param-name>counter</param-name>
			<param-value>0</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>DBServlet</servlet-name>
		<url-pattern>/init-params-demo</url-pattern>
	</servlet-mapping>



</web-app>
