<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Bean definition for IProduct using constructor -->
	<bean id="t1" class="com.sl.TelevisionInfy">
		<constructor-arg name="name" value="Phillips" />
		<constructor-arg name="price" value="12000.99f" />
	</bean>
	
	<!-- Bean definition for IProduct using constructor -->
	<bean id="t2" class="com.sl.TelevisionInfy">
	<property name="name" value="Sony" />
	<property name="price" value="20000.5f" />
	</bean>


</beans>